<div bsModal #lgModal="bs-modal"
     [config]="{backdrop: 'static', keyboard: false}"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
     <div class="modal-dialog modal-lg">
        <loader [isRunning]="!loaded"></loader>
        <div class="modal-content" *ngIf="loaded">
            <div class="modal-header">
                <h4 class="modal-title text-center">CHI TIẾT</h4>
            </div>
            <div class="modal-body contact-detail">
                <div class="row">
                    <div class="col-sm-3 contact-title">
                        Nội dung:
                    </div>
                    <div class="col-sm-9 contact-info">
                        {{data.noi_dung}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-3 contact-title">
                        Ngày tạo:
                    </div>
                    <div class="col-sm-9 contact-info">
                        {{data.time_create|printTime}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 contact-title">
                        Trạng thái xử lý:
                    </div>
                    <div class="col-sm-3 contact-info">
                        <select class="form-control" [(ngModel)]="data.trang_thai_xu_ly">
                            <option *ngFor="let item of selectTrangThaiXuLy " [value]="item.id">{{item.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 contact-title">Note:</div>
                    <div class="col-sm-6 contact-info">
                        <textarea [(ngModel)]="data.note" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer ">
                    <!--cập nhật  -->
                    <button class="btn btn-primary confirm-btn " (click)="update() ">Lưu</button>
                    <!--cập nhật  -->
                    <!--thoat-->
                    <button class="btn btn-warning confirm-btn " (click)="close() ">Thoát</button>
                    <!--thoat-->
                </div>
            </div>
        </div>
    </div>
</div>