@import "../../../../../../../theme/sass/conf/conf";
$color-title: #000;
.modal {
    padding-top: 80px;
    .modal-content {
        background-color: #F5F5F5;
        .modal-title {
            color: $color-title;
        }
        .modal-header {
            border: none;
        }
        .modal-footer {
            border: none;
        }
        .close {
            outline: none;
            float: right;
        }
    }
    .contact-detail {
        color: $color-title;
        margin-left: 7%;
    }
    .contact-title {
        font-size: 1.2em;
        font-weight: bold;
        line-height: 35px;
    }
    .contact-info {
        font-size: 1.2em;
        line-height: 35px;
        word-wrap: break-word;
    }
}

.modal-buttons .btn {
    margin-right: 20px;
}

textarea {
    height: 150px !important;
}

.word-break {
    width: 300px;
    word-wrap: break-word;
}