<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <loader [isRunning]="!loaded"></loader>
    <div class="modal-content" *ngIf="loaded">
      <div class="modal-header">
        <h4 class="modal-title text-center">CHI TIẾT ###UPPER-CASE-NAME###</h4>
      </div>
      <div class="modal-body contact-detail">
        <div class="row">
          <div class="col-sm-3 contact-title">
            ###id-field-label###
          </div>
          <div class="col-sm-9 contact-info">
            {{data.###id_snake###}}
          </div>
        </div>
        @@@if(hasStatus)@@@
        <div class="row">
          <div class="col-sm-3 contact-title">
            ###status-field-label###:
          </div>
          <div class="col-sm-9 contact-info">
            {{###StatusCamel###MapThuan[data.###status_snake###]}}
          </div>
        </div>
        @@@/if@@@
        @@@if(!hasStatus)@@@
          <div class="row">
            <div class="col-sm-3 contact-title">
              ###sample-field-label###:
            </div>
            <div class="col-sm-9 contact-info">{{data.###sample_snake###}}</div>
          </div>
          @@@/if@@@
        <div class="modal-footer ">
          <!--cập nhật  -->
          <!-- <button class="btn btn-primary confirm-btn " (click)="update() ">Lưu</button> -->
          <!--cập nhật  -->
          <!--thoat-->
          <button class="btn btn-warning confirm-btn " (click)="close() ">Thoát</button>
          <!--thoat-->
        </div>
      </div>
    </div>
  </div>