<div class="row">
  <div class="col-md-7">
    <div class="btn-group-import">
      <button class="btn btn-default btn-with-icon" (click)='goToList()' *ngIf="isImported">
        <i class="fa fa-arrow-circle-left fg-white" aria-hidden="true"></i> Quay lại</button>
      <button *ngIf="!isInserting" type="button" class="btn btn-default btn-with-icon" (click)="openFileUpload()">
        <i class="fa fa-upload" aria-hidden="true"></i>Chọn file</button>
      <!---->
      <div name="upload" hidden>
        <input type="file" class="form-control" (change)="upload($event)" #fileUpload accept=".xlsx" />
      </div>
      <!---->
      <button type="button" class="btn btn-primary" (click)="insert()" *ngIf="isUploaded && !isInserting">Bắt đầu import</button>
      <button type="button" class="btn btn-success" (click)="exportError()" *ngIf="canExport">Xuất file nội dung lỗi .xlsx</button>
      <div class="download-link" *ngIf="!isInserting">
        <a (click)="downloadExample()">
          <i class="fa fa-download fg-white margin-right" aria-hidden="true"></i>Nhấn để down mẫu form import</a>
      </div>
    </div>
    <div class="ket-qua" *ngIf="isUploaded">
      <p>Tổng số dòng : {{excelContent.length}}</p>
    </div>
    <div *ngIf="isInserting">
      <p>Đã xử lý : {{checked}}</p>
      <p>Thành công : {{successCount}}</p>
      <p>Số lượng thất bại : {{errorCount}}</p>
    </div>
    <h1 *ngIf="Finish">HOÀN THÀNH</h1>
    <br>
  </div>
  <!--Hướng dẫn sử dụng -->
  <div class="col-md-5"></div>
</div>
<div class="containter" *ngIf="!isInserting" class="ket-qua hlep">
  <div class="row">
    <div class="col-6 offset-2">
      <h3>
        <strong>HƯỚNG DẪN SỬ DỤNG</strong>
      </h3>
    </div>
  </div>
  <div class="row" style="margin-bottom:10px;">
    <div class="col-3">
      <strong>Nhấn để down mẫu form import</strong>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">-> Tải về để xem mẫu excel cần phải ghi thế nào</div>
        <div class="col-12">-> Tốt nhất bạn lấy file mẫu ghi để tránh lỗi</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <strong>Chọn file:</strong>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">-> Các bạn chọn file excel, phải là đuôi .xlsx</div>
        <div class="col-12">-> Sau đó các bạn bấm nút import</div>
        <div class="col-12">-> Chờ 1 chút chừng nào hiện chữ "HOÀN THÀNH" là thành công</div>
        <div class="col-12">-> Các bạn có thể coi nội dung những dữ liệu nào bị lỗi (nếu có)</div>
      </div>
    </div>
  </div>
</div>
<loader [isRunning]="isLoading"></loader>
<error-modal #errorModal></error-modal>