<ba-card>
  <loader [isRunning]="!loaded "></loader>
  <div class="container" *ngIf="loaded">
    <div class="row text-center">
      <h4>CẬP NHẬT ###UPPER-CASE-NAME###</h4>
    </div>
    @@@if(hasStatus)@@@
    <div class="row">
      <div class="col-2">
        ###status-field-label###:
      </div>
      <div>
        <select class="form-control" [(ngModel)]="data.###status_snake###">
          <option *ngFor="let item of select###StatusCamel### " [value]="item.id">{{item.text}}</option>
        </select>
      </div>
    </div>
    @@@/if@@@
    @@@if(!hasStatus)@@@
    <div class="row">
      <div class="col-2">
        ###sample-field-label###:
      </div>
      <div>
          <input class="form-control" type="text"  [(ngModel)]="data.###sample_snake###" [value]="data.###sample_snake###"/>
      </div>
    </div>
    @@@/if@@@
    <div class="row">
      <button class="btn btn-primary" (click)="update()">Cập nhật</button>
      <button class="btn btn-default" (click)="back()">
        Quay lại
      </button>
    </div>
  </div>
</ba-card>