    .right {
        text-align: right;
        & .fa {
            margin: 0px 5px;
        }
    }

    .center {
        text-align: center;
    }

    .add-btn {
        margin-right: 5px;
    }

    .btn-tacvu {
        display: inline-flex;
        & select {
            margin-left: 5px;
        }
    }

    table.size-all {
        font-size: 13px;
        & th {
            padding: 0.6rem;
        }
        & td {
            vertical-align: middle;
            line-height: 1.4 !important;
        }
    }

    .size-custom {
        font-size: 13px;
    }

    .total {
        padding: 15px 0px 5px 0px
    }

    .uuid {
        width: 300px;
        word-wrap: break-word;
    }