<div class="row">
  @@@if(hasStatus)@@@
  <div class="col-3">
    <com-###status-kebab### (valueUpdated)="stateChange()"></com-###status-kebab###>
  </div>
  @@@/if@@@
  <div class="col-9">
    <com-search-bar-###kebab### (searchTrigger)="stateChange()"></com-search-bar-###kebab###>
  </div>
</div>

<div class="row">

  <div class="col-sm-3 col-6 col-md-2">
    <select [(ngModel)]="_itemsPerPage" (change)="updatePerPage()" class="form-control size-custom" id="exampleSelect1">
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <option [ngValue]="200">200</option>
    </select>

  </div>
  <div class="col-md-10">
    <div class="row text-right">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="openCreatePage()">Thêm mới page</button>
        <button type="button" class="btn btn-primary" (click)="openCreateModal()">Thêm mới modal</button>
        <div class="btn-group dropdown">
          <button addtoggleclass="true" class="btn btn-default dropdown-toggle size-custom" dropdowntoggle="" type="button" aria-haspopup="true"
            aria-expanded="false" data-toggle="dropdown">
            Tác vụ khác
          </button>
          <ul class="dropdown-menu" dropdownmenu="">
            <li class="dropdown-item">
              <a (click)="deleteByChecked()">Xóa theo chọn</a>
            </li>
            <li class="dropdown-item">
              <a (click)="deleteByFilter()">Xóa theo bộ lọc</a>
            </li>
            <li class="dropdown-item">
              <a (click)="exportExcel()">Export Excel</a>
            </li>
            <li class="dropdown-item">
              <a (click)="openImport()">Import Excel</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row total">
  <div class="col-12">
    Kết quả tìm kiếm: {{_total}} dòng dữ liệu
  </div>
</div>

<loader [isRunning]="!_isLoaded "></loader>
<div class="horizontal-scroll">
  <table *ngIf="_isLoaded " class="table table-bordered table-hover size-all">
    <thead>
      <tr class="black-muted-bg size-min ">
        <th class="size-check">
          <ba-checkbox [(ngModel)]="isCheckedAll" (change)="checkedAll()"></ba-checkbox>
        </th>
        <th class="size-num">STT</th>
        <th class="size-num ">ID</th>
        @@@if(!hasStatus)@@@
        <th width="20px" class="center">
          ###sample-field-label###
        </th>
        @@@/if@@@
        @@@if(hasStatus)@@@
        <th width="20px" class="center">
          STATUS
        </th>
        @@@/if@@@
        <th class="center" title="Tác vụ" width="50px">Tác vụ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let value of _data | async | paginate: { itemsPerPage: _itemsPerPage, currentPage: _currentPage,totalItems: _total};let i=index;trackBy: identify"
        (click)="selectRow(i) " [class.selected]="i===_selectedRow">
        <td class="size-check ">
          <ba-checkbox #inputCheckbox [checked]="value.isChecked " (change)="checkBoxChecked(inputCheckbox.checked,value) "></ba-checkbox>
        </td>
        <td class="size-num ">
          {{i + calculateAlphaNumber() + 1}}
        </td>
        <td class="left">
          {{value.###id_snake###}}
        </td>
        @@@if(hasStatus)@@@
        <td class="center">
          {{###StatusCamel###MapThuan[value.###status_snake###]}}
        </td>
        @@@/if@@@
        @@@if(!hasStatus)@@@
        <td class="center">
          {{value.###sample_snake###}}
        </td>
        @@@/if@@@
        <td class="text-center">
          <a (click)="openDetailModal(value.###id_snake###)">
            <i class="fa fa-eye fg-lighterBlue space " aria-hidden="true "></i>
          </a>
          <a (click)="openEditModal(value.###id_snake###)">
            <i class="fa fa-pencil fg-lighterBlue space " aria-hidden="true "></i>
          </a>
          <a (click)="delete(value.###id_snake###) ">
            <i class="fa fa-trash trash " aria-hidden="true "></i>
          </a>
          <br>
          <a (click)="openDetailPage(value.###id_snake###)">
            Xem CT page
          </a>
          |
          <a (click)="openUpdatePage(value.###id_snake###)">
            Update
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div [hidden]="_total <= _itemsPerPage ">
  <paging (changePage)="stateChange() "></paging>
</div>


<error-modal #errorModal></error-modal>

<progress-bar-modal #pbmodal></progress-bar-modal>
<modal-###kebab###-detail></modal-###kebab###-detail>
<modal-###kebab###-create (success)="stateChange()"></modal-###kebab###-create>
<modal-###kebab###-update (success)="stateChange()"></modal-###kebab###-update>