<div class="input-group">
    <input [(ngModel)]="_searchValue" type="text" class="form-control with-danger-addon" placeholder="Tìm kiếm theo tên, email, điện thoại..." (keydown.enter)="search()">
    <span class="input-group-btn">
        <button class="btn btn-danger" type="button" (click)="search()">Tìm</button>
    </span>
</div>