<ba-card>
  <loader [isRunning]="!loaded "></loader>
  <div class="container" *ngIf="loaded">
    <div class="row text-center">
      <h4>CHI TIẾT ###UPPER-CASE-NAME###</h4>
    </div>
    <div class="row">
      <div class="col-2">ID:</div>
      <div>{{data.###id_snake###}}</div>
    </div>
    @@@if(hasStatus)@@@
    <div class="row">
      <div class="col-2">
        ###status-field-label###:
      </div>
      <div>{{###StatusCamel###MapThuan[data.###status_snake###]}}</div>
    </div>
    @@@/if@@@
    @@@if(!hasStatus)@@@
    <div class="row">
      <div class="col-2">
        ###sample-field-label###:
      </div>
      <div>{{data.###sample_snake###}}</div>
    </div>
    @@@/if@@@
    
    <div class="row">
      <button class="btn btn-default" (click)="back()">
        Quay lại
      </button>
    </div>
  </div>
</ba-card>