@import "../../../../../../../theme/sass/conf/conf";
.modal {
    padding-top: 80px;
    .modal-content {
        color: $dropdown-text;
        background-color: cornflowerblue;
        .modal-title {
            color: white
        }
        .modal-header {
            border: none;
        }
        .modal-footer {
            border: none;
        }
        .close {
            outline: none;
            float: right;
        }
    }
    .contact-detail {
        color: white;
        margin-left: 7%;
    }
    .contact-title {
        font-size: 1.2em;
        font-weight: bold;
        line-height: 35px;
    }
    .contact-info {
        font-size: 1.2em;
        line-height: 35px;
    }
}

.modal-buttons .btn {
    margin-right: 20px;
}