<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <loader [isRunning]="!loaded"></loader>
    <div class="modal-content" *ngIf="loaded">
      <div class="modal-header">
        <h4 class="modal-title text-center">CẬP NHẬT ###UPPER-CASE-NAME###</h4>
      </div>
      <div class="modal-body contact-detail">
        @@@if(hasStatus)@@@
        <div class="row">
          <div class="col-sm-3 contact-title">
            ###status-field-label###:
          </div>
          <div class="col-sm-3 contact-info">
            <select class="form-control" [(ngModel)]="data.###status_snake###">
              <option *ngFor="let item of select###StatusCamel### " [value]="item.id">{{item.text}}</option>
            </select>
          </div>
        </div>
        @@@/if@@@
        @@@if(!hasStatus)@@@
        <div class="row">
          <div class="col-sm-3 contact-title">
            ###sample-field-label###:
          </div>
          <div class="col-sm-3 contact-info">
            <input class="form-control"  [(ngModel)]="data.###sample_snake###" [value]="data.###sample_snake###"/>
          </div>
        </div>
        @@@/if@@@
      </div>

      <div class="modal-footer ">
        <!--tạo  -->
        <button class="btn btn-primary confirm-btn " (click)="update()">Cập nhật</button>
        <!--tạo  -->
        <!--thoat-->
        <button class="btn btn-warning confirm-btn " (click)="close() ">Thoát</button>
        <!--thoat-->

      </div>
    </div>
  </div>
</div>