<div class="row">

    <div class="col-sm-3 col-6 col-lg-2">
        <select [(ngModel)]="_itemsPerPage" (change)="updatePerPage()" class="form-control size-custom" id="exampleSelect1">
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="200">200</option>
        </select>

    </div>
</div>

<div class="row total">
    <div class="col-12">
        Kết quả tìm kiếm: {{_total}} dòng dữ liệu
    </div>
</div>

<loader [isRunning]="!_isLoaded "></loader>
<div class="horizontal-scroll ">
    <table *ngIf="_isLoaded " class="table table-bordered table-hover size-all ">
        <thead>
            <tr class="black-muted-bg size-min ">
                <th class="size-num " title="Số thứ tự">STT</th>
                <th title="Nội dung" width="40px">Nội dung</th>
                <th width="100px" class="right " title="Ngày tạo">Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of _data | async | paginate: { itemsPerPage: _itemsPerPage, currentPage: _currentPage,totalItems: _total};let i=index;trackBy: identify"
                (click)="selectRow(i) " [class.selected]="i===_selectedRow">
                <!-- <td class="size-check ">
                  <ba-checkbox #inputCheckbox [checked]="value.isChecked " (change)="checkBoxChecked(inputCheckbox.checked,value) "></ba-checkbox>
                </td> -->
                <td class="center size-num ">
                    {{i + calculateAlphaNumber() + 1}}
                </td>
                <td class="left" (click)="openDetail(value)"><a>{{value.noi_dung|cutText:100}}</a></td>
                <td class="right">{{value.time_create|printTime}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div [hidden]="_total <= _itemsPerPage ">
    <paging (changePage)="stateChange() "></paging>
</div>


<error-modal #errorModal></error-modal>

<progress-bar-modal #pbmodal></progress-bar-modal>
<app-###kebab###-detail (success)="stateChange()"></app-###kebab###-detail>